button{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    margin: 10px;
    padding: 3px;
    border-radius: 5px;
    border-color:#16161627;
    background-color: #2b2b2b71;
}
button:hover{
    background-color: #56337f7f;
    border-color: #2b2b2b71;
    cursor: pointer;
}

#current-page{
    font-size: 1.4rem;
    color:antiquewhite !important;
    background-color:#3b09887f;
    padding-top: 1px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}